<hr>
<h5 class="mb-1 text-center" style="font-size: 20px;">
	Join BizInfluence to Share & Earn.
</h5>
<h5 class="mb-3 text-center" style="font-size: 20px;">
	Download Trivecoin wallet now!
</h5>

<div class="d-flex">
	<a class="mr-1" style="width: 50%;" target="_blank" href="https://play.google.com/store/apps/details?id=org.trivecoin.wallet">
		<img src="../img/download_android.svg"/>
	</a>

	<a class="ml-1" style="width: 50%;" target="_blank" href="https://itunes.apple.com/my/app/trivecoin-wallet/id1406948103?mt=8">
		<img src="../img/download_ios.svg"/>
	</a>
</div>