<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BizInfluence</title>
		<link rel="shortcut icon" href="../img/favicon.ico">

		{{> ogHandler this}}

		{{!-- CSS --}}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
		<link rel="stylesheet" href="../css/biz.css">

		{{!-- JS --}}
		<script src="https://cdn.bizstore.io/bizapp-0.0.3.min.js"></script>
		{{!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> --}}
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
		<script src="../js/moment.js"></script>
		<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
		{{!-- SOCIAL-SHARE --}}
		<script src="../js/share/share.js"></script>
		<script src="../js/share/parser.js"></script>
		{{!-- MAIN SCRIPT --}}
		<script src="../js/biz.js"></script>
	</head>

	<body>
		<bizapp-root>
			{{> facebookElement}}
			
			<nav class="navbar bg-warning" style="font-size: 15px; padding-top: 10px; padding-bottom: 10px;">
				<div class="d-flex align-items-center" style="margin: auto;">
					<img class="m-0" src="../img/logo.svg" height="30">
				</div>
			</nav>
			
			{{#if maintenanceMessage}}
			<nav class="navbar bg-info text-light p-3" style="font-size: 15px;">
				<h5 class="m-0 mb-2">Maintenance Mode</h5>
				<p class="m-0">{{{maintenanceMessage}}}</p>
			</nav>
			{{/if}}
			
			<div id="overlay">
				<h5 class="text-light text-center" style="position: fixed; top: 45%; left: 0; right: 0;">Loading</h5>
			</div>
			
			{{> modal this}}

			<div id="body-container" style="margin-bottom: 80px;">
				{{{body}}}
			</div>

			<nav id="nav-bottom" class="navbar fixed-bottom navbar-expand-lg color-trvc text-light" style="font-size: 20px; z-index: 10; height: 50px">
				<a id="nav-home" class="nav-link pt-0 pb-0" onclick="goto('/home')"><i class="fas fa-list-alt"></i></a>
				<a id="nav-bookmark" class="nav-link pt-0 pb-0" onclick="goto('/bookmark')"><i class="fas fa-heart"></i></a>
				{{!-- <a id="nav-search" class="nav-link pt-0 pb-0" onclick="goto('/search')"><i class="fas fa-search"></i></a> --}}
				<a id="nav-message" class="nav-link pt-0 pb-0" onclick="goto('/message')" style="position: relative">
					<i class="fas fa-comment-alt"></i>
					{{#if messages.data}}
					{{#ifMoreThan messages.unread 0}}
					<div href="#" class="badge badge-pill badge-primary text-light" style="position: absolute; top: 0px; right: 5px; font-size: 10px;">{{messages.unread}}</div>
					{{/ifMoreThan}}
					{{/if}}
				</a>
				<a id="nav-history" class="nav-link pt-0 pb-0" onclick="goto('/history')"><i class="fas fa-history"></i></a>
				{{!-- <a id="nav-creation" class="nav-link pt-0 pb-0" onclick="goto('/creation')"><i class="fas fa-list"></i></a> --}}
				<a id="nav-user" class="nav-link pt-0 pb-0" onclick="goto('/user')"><i class="fas fa-user"></i></a>
			</nav>
		</bizapp-root>
	</body>
</html>