<script src="../js/userAuth.js"></script>
<div class="splash bg-warning">
	<div class="centered text-center" style="width: 75%;">
		<img class="m-0" src="../img/logo.svg" style="width: 100%;">
		<p class="mb-5 text-secondary" style="font-style: italic; font-size: 20px;">share and earn rewards</p>

		<button class="btn btn-primary btn-block mt-2 mb-3" type="button" onclick="onWalletLogin()">Wallet Login</button>
	</div>
	<footer class="mb-3 text-light text-center fixed-bottom">©Thunderlab 2017-2018</footer>
</div>