<div class="text-center ml-2 mr-2 mt-3">
	<div class="m-2 btn-group d-flex">
		<button class="btn btn-sm btn-block btn-outline-warning m-0" onclick="goto('/user')">Profile</button>
		<button class="btn btn-sm btn-block btn-outline-warning m-0" onclick="goto('/user/campaign')">Campaign</button>
		<button class="btn btn-sm btn-block btn-warning m-0">Following</button>
	</div>
</div>

<div class="container mt-3 mb-5">
	<div class="media p-3">
		<img class="mr-2 profile-photo" src="../img/default_profile.png" height="30">
		<div class="media-body" style="font-size: 12px; height: 100%;">
			<div class="d-flex justify-content-between align-items-center">
				<span class="m-0 mr-2">
					<h5 class="m-0" style="font-size: 13px;">TriveFoundation</h5>
					<p class="m-0" style="font-size: 11px;">No description.</p>
					{{!-- <p class="m-0" style="font-size: 11px;">TriveCoin visionary.</p> --}}
				</span>
				
				<button class="btn btn-primary btn-sm m-0 p-0 pl-2 pr-2"><i class="fas fa-check"></i></button>
			</div>
		</div>
	</div>

	<div class="media p-3">
		<img class="mr-2 profile-photo" src="../img/default_profile.png" height="30">
		<div class="media-body" style="font-size: 12px; height: 100%;">
			<div class="d-flex justify-content-between align-items-center">
				<span class="m-0 mr-2">
					<h5 class="m-0" style="font-size: 13px;">TriveFoundation</h5>
					<p class="m-0" style="font-size: 11px;">TriveCoin visionary.</p>
				</span>
				
				<button class="btn btn-primary btn-sm m-0 p-0 pl-2 pr-2"><i class="fas fa-check"></i></button>
			</div>
		</div>
	</div>
</div>