<script src="../js/test-wallet.js"></script>

<div class="container mt-3 mb-5">
	<button class="btn btn-primary btn-block" onclick="onWalletLogin()">
		Wallet Login
	</button>

	<button class="btn btn-primary btn-block" onclick="onWalletMakePayment()">
		Make Payment
	</button>
	
	<button class="btn btn-primary btn-block" onclick="onWalletVerifyPayment()">
		Verify Payment
	</button>
	<hr>
	<p id="error-message">Error here.</p>
</div>